<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="true" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>test</directory>
    </testsuite>
  </testsuites>
</phpunit>
